.infzm-content-item[data-v-29d876ad] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 6.4px;
    padding-bottom: .4rem;
    padding-top: 6.4px;
    padding-top: .4rem;
    min-height: 46.88px;
    min-height: 2.93rem
}

.infzm-content-item__text[data-v-29d876ad] {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 7.2px;
    font-size: .45rem;
    margin-bottom: 7.52px;
    margin-bottom: .47rem
}

.infzm-content-item__text span[data-v-29d876ad] {
    color: #aaa
}

.infzm-content-item__medias[data-v-29d876ad] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.infzm-content-item__meta[data-v-29d876ad] {
    font-size: 4.64px;
    font-size: .29rem;
    color: #bbb
}

.infzm-content-item__meta .meta__time[data-v-29d876ad] {
    letter-spacing: -.5px
}

.infzm-content-item__meta .meta__mark[data-v-29d876ad] {
    color: #df222a
}

.infzm-content-item__meta>[data-v-29d876ad] {
    margin-right: 2.08px;
    margin-right: .13rem
}

.infzm-content-item__meta>[data-v-29d876ad]:last-child {
    margin-right: 0
}

.infzm-content-item--right .infzm-content-item__medias[data-v-29d876ad] {
    height: 32px;
    height: 2rem;
    width: 49.12px;
    width: 3.07rem; //margin-top:2.08px;//margin-top:.13rem;margin-left:8.48px;margin-left:.53rem}.infzm-content-item--right .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+2){display:none}.infzm-content-item--right .infzm-content-item__meta[data-v-29d876ad]{position:absolute;left:0;bottom:4.32px;bottom:.27rem}.infzm-content-item--left[data-v-29d876ad]{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.infzm-content-item--left .infzm-content-item__medias[data-v-29d876ad]{height:32px;height:2rem;width:49.12px;width:3.07rem;//margin-top:2.08px;//margin-top:.13rem;margin-right:8.48px;margin-right:.53rem}.infzm-content-item--left .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+2){display:none}.infzm-content-item--left .infzm-content-item__meta[data-v-29d876ad]{position:absolute;left:57.6px;left:3.6rem;bottom:4.32px;bottom:.27rem}.infzm-content-item--three[data-v-29d876ad]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.infzm-content-item--three .infzm-content-item__text[data-v-29d876ad]{height:auto;font-size:7.2px;font-size:.45rem}.infzm-content-item--three .infzm-content-item__medias[data-v-29d876ad]{width:100%;height:32px;height:2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.infzm-content-item--three .infzm-content-item__medias>div[data-v-29d876ad]{width:32.5%}.infzm-content-item--three .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+4){display:none}.infzm-content-item--three .infzm-content-item__meta[data-v-29d876ad]{color:#999;margin-top:4.32px;margin-top:.27rem}.infzm-content-item.infzm-content-item--big_icon[data-v-29d876ad]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.infzm-content-item.infzm-content-item--big_icon .infzm-content-item__text[data-v-29d876ad]{color:#333;margin:2.08px 0;margin:.13rem 0}.infzm-content-item.infzm-content-item--big_icon .infzm-content-item__medias[data-v-29d876ad]{width:100%;height:75.52px;height:4.72rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.infzm-content-item.infzm-content-item--big_icon .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+2){display:none}.infzm-content-item.infzm-content-item--big_icon .infzm-content-item__meta[data-v-29d876ad]{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;margin-top:4.32px;margin-top:.27rem}.infzm-content-item.infzm-content-item--big_icon .infzm-content-item__medias[data-v-29d876ad]{position:relative}.infzm-content-item--picture[data-v-29d876ad],.infzm-content-item--topic[data-v-29d876ad],.infzm-content-item--video[data-v-29d876ad]{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column nowrap;flex-flow:column nowrap;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.infzm-content-item--picture .infzm-content-item__text[data-v-29d876ad],.infzm-content-item--topic .infzm-content-item__text[data-v-29d876ad],.infzm-content-item--video .infzm-content-item__text[data-v-29d876ad]{color:#333}.infzm-content-item--picture .infzm-content-item__medias[data-v-29d876ad],.infzm-content-item--topic .infzm-content-item__medias[data-v-29d876ad],.infzm-content-item--video .infzm-content-item__medias[data-v-29d876ad]{width:100%;height:75.52px;height:4.72rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.infzm-content-item--picture .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+2),.infzm-content-item--topic .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+2),.infzm-content-item--video .infzm-content-item__medias>.media-object[data-v-29d876ad]:nth-of-type(n+2){display:none}.infzm-content-item--topic .infzm-content-item__text[data-v-29d876ad]{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;margin:2.08px 0;margin:.13rem 0}.infzm-content-item--topic .infzm-content-item__meta[data-v-29d876ad]{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;margin-top:4.32px;margin-top:.27rem}.infzm-content-item--topic .infzm-content-item__medias[data-v-29d876ad]{position:relative}.infzm-content-item--topic .infzm-content-item__medias .infzm-content-item__sub[data-v-29d876ad]{position:absolute;padding:1.76px 4.32px;padding:.11rem .27rem;right:4.32px;right:.27rem;bottom:4.32px;bottom:.27rem;font-size:5.12px;font-size:.32rem;line-height:1.2;color:#fff;//width:19.2px;//width:1.2rem;border-radius:.53rem;border:1px solid #fff;background-color:rgba(6,6,6,.55);z-index:2}.infzm-content-item--video .infzm-content-item__meta[data-v-29d876ad]{margin-top:4.32px;margin-top:.27rem}.infzm-content-item--picture .infzm-content-item__medias[data-v-29d876ad]{position:relative}.infzm-content-item--picture .infzm-content-item__medias .infzm-content-item__sub[data-v-29d876ad]{position:absolute;padding:1.44px 4.32px;padding:.09rem .27rem;right:4.32px;right:.27rem;bottom:4.32px;bottom:.27rem;font-size:5.12px;font-size:.32rem;line-height:1.2;color:#fff;//width:19.2px;//width:1.2rem;border-radius:.53rem;border:1px solid #fff;background-color:rgba(6,6,6,.55);z-index:2}.infzm-content-item--picture .infzm-content-item__meta[data-v-29d876ad]{margin-top:4.32px;margin-top:.27rem}.infzm-content-item--dark .infzm-content-item__text[data-v-29d876ad]{color:#fff}.infzm-content-item--dark .infzm-content-item__meta[data-v-29d876ad]{color:#666}